@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.loginBox,
.RegisterBox {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -10px;

}

.loginForm,
.register_form,
.register_forms {
  background-color: #FFFFFF;
}

.Register,
.Login {
  background-color: #FFFFFF;
  border-radius: 10px;

}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 150px;
  padding-bottom: 250px;
  margin-bottom: -250px;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
  background-color: #03AAD2;
}

.menu {
  background-color: #03AAD2;
}


/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 10px 10px 15px -10px;

}

.user_status,
.userRegistrant {
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

/*過ぎた日付*/
.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part a {
  padding-right: 10px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
  border: thin solid #03AAD2;
  opacity: 0.7;
  border-radius: 5px;
  background-color: #03AAD2;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
  border-radius: 10px;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_area a {
  color: #000;
  font-weight: bold;
}

.post_status {
  /*justify-content: flex-end;*/
  margin: 0 0 0 auto;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}



/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_container {
  border-radius: 10px;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;

}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/*掲示板　検索*/
.PostInput {
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: thin solid #03AAD2;
  opacity: 0.7;
  border-radius: 10px;
  background-color: #03AAD2;

}


.searchPost {
  margin: 0 5px;
}

.searchPostForm {
  width: 65%;
  border: thin solid #999999;
  opacity: 0.7;
  background-color: #ECF1F6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}



.searchPost_btn {
  width: 35%;
  padding: 5px 55px 5px 20px;
  color: #fff;
  border: none;
  opacity: 0.7;
  background-color: #03AAD2;
  border: thin solid #03AAD2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}


.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}


.searchPostForm {
  width: 65%;
  padding: 5px;
  border: thin solid #999999;
  opacity: 0.7;
  background-color: #ECF1F6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.LikeCategory_btn,
.MyCategory_btn {
  color: #FFF;
  margin: 5px 0px 5px 5px;
  width: 45%;
  text-align: center;
  opacity: 0.7;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.category_btn2 {
  margin-left: 10px;
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;

}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;

  overflow-x: hidden;
  overflow: auto;
  padding: 10px;
  background: #ECF1F6;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 200px;
  height: 200px;
  padding-left: 20px;
  margin: 0 0px 20px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -10px;
  background: #FFFF;
}

.free_word {
  width: 80%;
  margin: 5px;
  padding: 5px;
  text-align: center;
  opacity: 0.7;
  border: none;
  border-radius: 10px;
  background-color: #B2B2B2;

}

.search_area label {
  padding-top: 10px;
  margin: auto;
}

.select_Search,
.engineer {
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #B2B2B2;
}

.search_conditions {
  width: 80%;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner,
.search_inner {
  display: none;
  background: #ECF1F6;

}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
  background-color: #B2B2B2;
}

.subject_inner {
  display: none;
}


.Search_btn {
  width: 80%;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: thin solid #03AAD2;
  opacity: 0.7;
  border-radius: 10px;
  background-color: #03AAD2;
}

.SearchReset_btn {
  margin: 5px;
  width: 80%;
  text-align: center;
  font-size: 16px;
}
